.bike-types {
  box-sizing: border-box;
  padding-top: 149px;
  background-color: $secondary-background-color;
  width: 100%;
}

.bike-types__wrap {
  max-width: 1126px;
  margin: 0 auto 147px auto;
}

.bike-types__title {
  margin: 0 auto 51px auto;
  width: 100%;
  text-align: center;
}

