.bike-types {
  box-sizing: border-box;
  padding-top: 149px;
  background-color: $secondary-background-color;
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;

  @media (max-width: $tablet-width) {
    padding: 50px 89px 70px;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 0 52px;
  }
}

.bike-types__wrap {
  box-sizing: border-box;
  max-width: 1126px;
  margin: 0 auto 9px auto;

  @media (max-width: $tablet-width)  {
    margin-bottom: 0;
  }
}

.bike-types__title {
  margin: 0 auto 51px auto;
  width: 100%;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $additional-black;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 30px;
  }
}

