.contacts {
  max-width: 957px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 98px auto;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    padding-right: 35px;
    padding-left: 35px;
    margin: 0 auto 52px auto;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
    width: 100%;
  }
}

.contacts__title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  margin: 0 0 30px 0;

  @media (max-width: $tablet-width) {
    margin: 0 0 20px 0;
    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    font-size: 18px;
  }
}

.contacts__description {
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0;
  max-width: 555px;
  text-align: center;
  margin: 0 0 42px 0;
  color: $basic-black-70;

  @media (max-width: $tablet-width) {
    max-width: 629px;
    margin: 0 0 20px 0;
  }

  @media (max-width: $mobile-width) {
    max-width: 260px;
    margin: 0 0 16px 0;
  }
}

.contacts__map {
  width: 957px;
  height: 530px;
  margin-bottom: 39px;
  border: none;
  background-color: $map-background;

  @media (max-width: $tablet-width) {
    min-width: 698px;
    width: 100%;
    height: 545px;
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-width) {
    min-width: 316px;
    width: 100%;
    height: calc(100vw - 70px);
    margin-bottom: 32px;
  }
}

.contacts__data {
  display: flex;
  max-width: 563px;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 90px;

  @media (max-width: $tablet-width) {
    max-width: 559px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    gap: 0;
    max-width: 259px;
  }
}

.contacts__email,
.contacts__phone {
  text-decoration: none;
  display: flex;
  align-items: center;
  letter-spacing: 0;
  color: $basic-black-50;
  margin-bottom: 22px;

  &:hover,
  &:focus {
    color: $style-color;
  }

  &:active {
    color: $active-color;
  }
}

.contacts__phone {
  @media (max-width: $mobile-width) {
    width: 207px;
    margin-bottom: 0;
  }
}

.contacts__email__email-icon {
  margin-right: 15px;
}

.contacts__email__phone-icon {
  margin-right: 16px;

  @media (max-width: $mobile-width) {
    margin-right: 13px;
  }
}

.contacts__email:hover .contacts__email__email-icon,
.contacts__phone:hover .contacts__email__phone-icon {
  opacity: 0.6;
}

.contacts__email:active .contacts__email__email-icon,
.contacts__phone:active .contacts__email__phone-icon {
  opacity: 0.3;
}
