.description {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1156px;
  min-height: 503px;
  margin: 0 auto;
  padding-top: 153px;

  @media (max-width: $tablet-width) {
    padding-top: 413px;
    max-width: 550px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 45px;
  }
}

.description__title {
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 47px 0;
  text-align: center;
  font-weight: 600;

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 41px;
    margin-bottom: 29px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 19px;
  }
}

.description__list {
  display: flex;
  list-style-type: none;
  counter-reset: description;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  width: 100%;
  justify-content: space-evenly;
  column-gap: 44px;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: center;
  }
}

.description__item {
  box-sizing: border-box;
  position: relative;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  padding-top: 55px;
  width: 256px;
  margin-bottom: 40px;
  letter-spacing: -0.5px;

  @media (max-width: $tablet-width) {
    margin-bottom: 33px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.description__item-number {
  content: "0" counter(benefits);
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  line-height: 38px;
  top: 0;
  left: 44%;
  color: $style-color;
  letter-spacing: -1.27px;

  @media (max-width: $mobile-width) {
    top: 10px
  }
}
