.form {
  width: 328px;

  @media (max-width: $tablet-width) {
    width: 321px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.form__description {
  color: $basic-white;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  margin: 6px 0 18px 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    color: $basic-black;
  }
}

.form__control {
  width: 100%;
  box-sizing: border-box;
  height: 49px;
  padding-left: 28px;
  padding-top: 7px;
  border-radius: 6px;
  margin-bottom: 18px;
  letter-spacing: 0.3px;

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: $basic-gray-50;
    font-family: inherit;
  }

  @media (max-width: $tablet-width) {
    padding-left: 21px;
  }
}

.form__submit {
  width: 100%;
  padding: 0;
  height: 53px;
  border-radius: 6px;
  box-shadow: 0 4px 4px $basic-black-25;
  border: none;
  background-color: $style-color;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
}
