.form {
  width: 327px;

  @media (max-width: $tablet-width) {
    width: 321px;
  }
}

.form__description {
  color: $basic-white;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  margin: 0 0 20px 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    color: $basic-black;
  }
}

.form__control {
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  padding-left: 26px;
  border-radius: 6px;
  margin-bottom: 20px;

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: $basic-gray;
    letter-spacing: 0;
  }

  @media (max-width: $tablet-width) {
    padding-left: 21px;
  }
}

.form__submit {
  width: 100%;
  padding: 0;
  height: 48px;
  border-radius: 6px;
  box-shadow: 0 4px 4px $basic-black-25;
  border: none;
  background-color: $style-color;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
}
