.form {
  width: 328px;

  @media (max-width: $tablet-width) {
    width: 321px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
  }
}

.form__description {
  color: $basic-white;
  font-size: 17px;
  line-height: 28px;
  font-weight: 600;
  text-align: center;
  margin: 6px 0 18px 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    color: $basic-black;
    width: 324px;
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 288px;
    margin-bottom: 20px;
  }
}

.form input {
  width: 100%;
  box-sizing: border-box;
  height: 49px;
  padding-left: 29px;
  padding-top: 4px;
  border-radius: 6px;
  margin-bottom: 18px;
  border: 1px solid $control-gray;
  font-size: 15px;
  line-height: 24px;
  font-family: inherit;

  &:focus {
    outline-color: $active-color;
  }

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: $basic-gray-50;
    font-family: inherit;
  }

  @media (max-width: $tablet-width) {
    padding-left: 21px;
    padding-top: 2px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 25px;
    padding-top: 6px;
  }
}

.form__submit {
  width: 100%;
  padding: 3px 0 0 0;
  height: 53px;
  border-radius: 6px;
  border: none;
  background-color: $style-color;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: $active-color;
  }

  &:active {
    color: $basic-black-50;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}
