.header-nav {
  display: flex;
  align-items: center;
  width: 873px;
  margin: 0 auto;
  min-height: 62px;
  border-bottom: 1px solid $basic-white-20;
  box-sizing: border-box;
  padding-top: 14px;

  @media (max-width: $tablet-width) {
    background-color: $basic-white;
    display: none;
    right: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 138px;
  }
}

.page-header--nojs .header-nav {
  @media (max-width: $tablet-width) {
    position: relative;
    display: flex;
  }
}


.header-nav__list {
  box-sizing: border-box;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 134px;
  width: 100%;
  align-items: center;
  margin: 0 0 0 19px;
  padding: 0;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: normal;
    height: 100%;
  }
}

.header-nav__item {
  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    background-color: $nav-background;
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  &::after {
    display: none;

    @media (max-width: $tablet-width) {
      display: block;
      content: '';
      width: 8px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1.4L4.6 6L0 10.6L1.4 12L7.4 6L1.4 0L0 1.4Z' fill='%232C2E3F' fill-opacity='0.5'/%3E%3C/svg%3E%0A");;
      background-repeat: no-repeat;
      position: absolute;
      left: calc(100% - 25px);
    }
  }
}

.header-nav__item:not(:last-child) {
  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.header-nav__item-link {
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: $basic-white-70;
  text-decoration: none;

  @media (max-width: $tablet-width) {
    display: flex;
    align-items: center;
    font-size: 20px;
    height: 100%;
    width: 100%;
    line-height: 140%;
    color: $nav-gray;
    padding-left: 16px;
  }
}
