.information-article {
  box-sizing: border-box;
  width: 100%;
  background-color: $video-article-background;
  min-height: 706px;
  margin-bottom: 248px;
  position: relative;

  @media (max-width: $tablet-width) {
    min-height: 413px;
    margin-bottom: 155px;
  }

  @media (max-width: 470px) {
    margin-bottom: 118px;
  }

  @media (max-width: $mobile-width) {
    min-height: 384px;
    padding: 0 16px;
  }
}

.information-article__wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 929px;
  align-items: center;
  position: relative;
  top: 120px;

  @media (max-width: $tablet-width) {
    top: 70px;
    width: 503px;
    height: 413px;
  }

  @media (max-width: $mobile-width) {
    top: 84px;
    width: 100%;
    max-width: 503px;
    left: 0;
    height: 382px;
  }
}

.information-article__title {
  margin: 0 0 20px 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: $basic-white;

  @media (max-width: $tablet-width) {
    font-size: 24px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 0 17px 0;
  }
}

.information-article__description {
  font-size: 16px;
  line-height: 28px;
  color: $basic-white-70;
  max-width: 340px;
  margin: 0 0 56px 0;
  text-align: center;
  letter-spacing: -0.4px;

  @media (max-width: $tablet-width) {
    max-width: 429px;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 54px;
  }
}
