.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  min-height: 100%;
  margin: 0;
  min-width: 320px;
  font-family: "Open Sans", "Arial", sans-serif;
  letter-spacing: -0.5px;
}
