.page-header {
  background-color: $additional-black;
  min-height: 825px;
  background-image: url("../img/header-bike@1x.webp");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/header-bike@2x.webp");
  }

  @media (max-width: $tablet-width) {
    position: relative;
    background-size: cover;
    min-height: 0;
    height: 340px;
    background-position: 50% 50%;
  }

  @media (max-width: $mobile-width) {
    height: 390px;
    margin-bottom: 19px;
  }
}

.page-header--opened  .page-header__nav {
  display: block;
}

.page-header--nojs {
  margin-bottom: 50px;
}

.page-header__toggle {
  top: 0;
  right: 0;
  width: 50px;
  height: 52px;
  box-sizing: border-box;
  position: absolute;
  display: none;
  cursor: pointer;
  border: none;
  z-index: 2;

  @media (max-width: $tablet-width) {
    display: block;
    background-color: $style-color;

    &::before {
      content: "";
      position: absolute;
      top: 18px;
      left: 13px;
      width: 22px;
      height: 1px;
      background-color: black;
      box-shadow: 0 6px 0 0 $basic-black, 0 12px 0 0 $basic-black;
    }
  }
}

.page-header--nojs .page-header__toggle {
  display: none;
}

.page-header--nojs.page-header {
  @media (max-width: $tablet-width) {
    background-position-y: 468px;
    background-size: 100%;
    height: 936px;
    margin-bottom: -26px;
  }

  @media (max-width: $mobile-width) {
    background-position-y: 575px;
    background-size: 150%;
    height: 936px;
    margin-bottom: 40px;
  }
}

.page-header--opened  .page-header__toggle {
  background-color: $basic-white;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 20%;
    width: 32px;
    height: 1px;
    background-color: $nav-button-gray;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}


.page-header__wrap {
  max-width: 881px;
  margin: 256px auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    margin: 25px auto 0 auto;
    flex-direction: column;
    align-items: center;
    max-width: $tablet-width;
  }
}

.page-header__logo-link {
  box-sizing: border-box;
  display: block;
  margin-bottom: 26px;

  @media (max-width: $tablet-width) {
    align-self: start;
    margin-bottom: 85px;
    margin-left: 21px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 71px;
    margin-left: 1px;
  }
}

.page-header__description-wrap {
  width: 381px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 143px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 133px;
  }
}

.page-header__description {
  color: $basic-white;
}

.page-header__description-title {
  margin: 0 0 24px 0;
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;

  @media (max-width: $tablet-width) {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 30px;
    line-height: 42px;
  }
}

.page-header__description-text {
  margin: 0;
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  color: $basic-white-80;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    max-width: 435px;
    text-align: center;
  }
}
