.type-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 50px;
  justify-content: space-evenly;

  @media (max-width: $mobile-width) {
    gap: 42px;
  }
}

.type-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 140px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
  }

  img {
    object-fit: cover;
    border-radius: 10px;

    @media (max-width: $tablet-width) {
      width: 270px;
      height: 300px;
      object-fit: cover;
    }
  }

  &--road {
    z-index: 0;
    margin-top: 10px;

    &::before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      top: 155px;
      left: -60px;
      width: 180px;
      height: 180px;
      border: 27px solid $style-color;
      border-radius: 50%;
      z-index: -1;

      @media (max-width: $tablet-width) {
        width: 127px;
        height: 127px;
        border-width: 18px;
        top: auto;
        bottom: 26px;
        left: -37px;
      }

      @media (max-width: $mobile-width) {
        left: -25px;
      }
    }

    @media (max-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &--mountain {
    margin-top: 39px;

    &::before,
    &::after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      width: 47px;
      height: 47px;
      border: 8px solid $style-color;

      @media (max-width: $tablet-width) {
        display: none;
      }
    }

    &::before {
      top: -18px;
      left: -19px;
    }

    &::after {
      bottom: 31px;
      right: -23px;
    }

    @media (max-width: $tablet-width) {
      margin-top: 0;
    }
  }

  &--children {
    &::after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      width: 95px;
      height: 95px;
      top: -32px;
      right: -36px;
      border: 17px solid $style-color;
      border-radius: 50%;
      z-index: 1;

      @media (max-width: $tablet-width) {
        width: 68px;
        height: 68px;
        top: -20px;
        right: -25px;
        border-width: 13px;
      }

      @media (max-width: $mobile-width) {
        right: -16px;
      }
    }
  }
}

.type-list__item--road .type-list__item-picture {
  width: 342px;
  height: 503px;
  background-color: $picture-background-color;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.type-list__item--mountain .type-list__item-picture {
  width: 342px;
  height: 566px;
  background-color: $picture-background-color;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.type-list__item--children .type-list__item-picture {
  width: 342px;
  height: 513px;
  background-color: $picture-background-color;

  @media (max-width: $tablet-width) {
    width: 270px;
    height: 300px;
  }
}

.type-list__item-picture {
  margin-bottom: 21px;
}

.type-list__item-name {
  font-size: 22px;
  line-height: 34px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
