.video-player {
  position: relative;

  img {
    @media (max-width: $tablet-width) {
      width: 503px;
      height: 282px;
    }

    @media (max-width: $mobile-width) {
      width: 288px;
      height: 161px;
    }
  }
}

.video-player__control {
  padding: 0;
  left: 47%;
  top: 50%;
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: black;
  border: none;
  outline: 1px red $basic-black;

  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
    left: 40%;
    top: 35%;

    svg {
      width: 90px;
      height: 90px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
    left: 40%;
    top: 25%;

    svg {
      width: 65px;
      height: 65px;
    }
  }
}
