.video-player {
  position: relative;

  img {
    @media (max-width: $tablet-width) {
      width: 503px;
      height: 282px;
    }

    @media (max-width: $mobile-width) {
      width: 288px;
      height: 161px;
    }
  }
}

.video-player__control {
  padding: 0;
  left: 433px;
  top: 229px;
  position: absolute;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: black;
  border: none;
  outline: 1px red $basic-black;
  cursor: pointer;

  &:hover {
    svg {
      opacity: 0.8;
    }
  }

  &:active {
    svg {
      opacity: 0.6;
    }
  }

  @media (max-width: $tablet-width) {
    width: 90px;
    height: 90px;
    left: 41%;
    top: 33%;

    svg {
      width: 90px;
      height: 90px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 65px;
    height: 65px;
    left: 39%;
    top: 29%;

    svg {
      width: 65px;
      height: 65px;
    }
  }
}
