$basic-black:  #000000;
$basic-white:  #ffffff;
$style-color:  #0ad9c6;
$secondary-background-color:  #f6f7f9;
$picture-background-color:  #ccc5bd;
$basic-gray:  #1c1c1c;
$basic-gray-50:  rgba(#1c1c1c, 0.5);
$control-gray: #c9ccd4;
$nav-gray:  #48494d;
$nav-background:  #f6f6f6;
$video-article-background:  #131314;
$additional-black:  #1f1f1f;
$nav-button-gray: rgba(#141517, 0.20);
$basic-black-25: rgba($basic-black, 0.25);
$basic-black-50: rgba($basic-black, 0.5);
$basic-black-70: rgba($basic-black, 0.7);
$basic-white-20: rgba($basic-white, 0.2);
$basic-white-70: rgba($basic-white, 0.7);
$basic-white-80: rgba($basic-white, 0.8);

$tablet-width: 1023px;
$desktop-width: 1024px;
$mobile-width: 767px;
