$basic-black:  #000000;
$basic-white:  #ffffff;
$style-color:  #0ad9c6;
$secondary-background-color:  #f6f7f9;
$basic-gray:  #1c1c1c;
$basic-black-25: rgba($basic-black, 0.25);
$basic-black-50: rgba($basic-black, 0.5);
$basic-black-70: rgba($basic-black, 0.7);
