$basic-black:  #000000;
$basic-white:  #ffffff;
$style-color:  #0ad9c6;
$secondary-background-color:  #f6f7f9;
$basic-gray:  #1c1c1c;
$nav-gray:  #48494d;
$nav-button-gray: rgba(#141517, 0.20);
$basic-black-25: rgba($basic-black, 0.25);
$basic-black-50: rgba($basic-black, 0.5);
$basic-black-70: rgba($basic-black, 0.7);

$tablet-width: 1023px;
$desktop-width: 1024px;
$mobile-width: 767px;
